<header>
  <div class="header-wrapper">
    <%= link_to "IZAKAYA", root_path , class: "header-logo" %> 
    <div class="header-left">
      <ul class="header-menu">
        
      </ul>
    </div>
  </div>
</header>