.header-wrapper-signup{
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-wrapper{
  height: calc(100vh - 80px - 50px);
}

.form-box{
  width: 50%;
  padding: 70px 0;
  margin: auto;
  text-align: center;
}

h2{
  font-size: 25px;
}

.form-box p{
  margin: 10px 0;
}

.signup-form{
  padding: 5px;
}

.signup-submit{
  margin-top: 20px;
  padding: 10px 20px;
}