
/* ヘッダー */
header{
  height: 80px;
  background-color: black;
}
.header-wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.header-logo{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 45px;
  padding: 15px 0;
  letter-spacing: 3px;
}

.header-menu{
  display: flex;
  padding: 30px 0;
}

.list{
  font-weight: bold;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}
/* ヘッダー ここまで */

/* center */
.center{
  height: calc(100vh - 80px - 50px);
  overflow: scroll;
}

.search-box{
  text-align: center;
  margin-top: 20px;
}

.search-input{
  height: 50px;
  width: 250px;
}

.search-btn{
  height: 50px;
  width: 70px;
}

.center-wrapper{
  width: 70%;
  margin:0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.store-box{
  display: flex;
  justify-content: space-around;
  width: 420px;
  margin: 50px 20px 0 0;
}

.store-image, .show-image{
  height: 200px;
  width: 200px;
}

.store-infos{
  margin-top: 10px;
  text-align: center;
}

.name-store{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 800;
  color: blue;
  border-bottom: 3px solid #9aa6b5;
}

.store-info{
  padding: 8px 0;
  font-weight: bold;
  border-bottom: 1px solid #9aa6b5;
}

/* show.htlm.erb */
.store-wrapper{
  width:  70%;
  margin:  auto;
}

.newing{
  margin: 80px 0;
  text-align: center;
  align-items: center;
}

.showing{
  margin: 80px 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between; 
}

.show-info-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 8px;
  margin-bottom: 20px;
}


.show-info{
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 0 10px;
  border-bottom: 1px solid #9aa6b5;
}

.show-form{
  width: 400px;
}


.show-button{
  width: 60px;
  padding: 10px;
  border: 1px solid steelblue;
  background-color: steelblue;
  margin: 20px auto;
}
.show-button-a{
  margin: 20px auto;
}

.show-image{
  width: 400px;
  height: 350px;
}

.button-form{
  display: flex;
  margin-top: 30px;
}

.button-left{
  margin-right: 15px;
}
/* edit.html.erb */

.editing{
  margin: 50px 0;
  text-align: center;
}

.edit-info, .new-info{
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 0 10px;
}
/* 画像のプレビュー */
img{
  height: 140px;
  width: 300px;
}
/* ここまで */
footer{
  height: 50px;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 15px 0;
}

